.social-photos-layout {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.social-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.social-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  transition: 0.3s ease-in-out;
  
  height: 10px;
  padding-top: 170px;
  background-color: var(--primary-color-light);
  cursor: pointer;

}
