.social-photos-layout {
  display: flex;
  align-items: stretch;
  gap: 10px;
}

.social-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#social-container {
  height: 10px;
  padding-top: 170px;

}