.comments-section {
  margin-top: 20px;
}

.comment-box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 800px;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  transition: 0.3s ease-in-out;
  padding: 15px 20px;
}

.comment-box:hover {
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 20px 30px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 20px 30px;
}

.comment-box.light {
  background-color: var(--dark-white-color);
}

.comment-box.dark {
  background-color: var(--light-black-color);
}

.input-empty {
  background: none;
  border: none;
  font-family: "Rubik", sans-serif;
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.input-empty.light {
  color: var(--black-color);
}

.input-empty.light::placeholder {
  color: var(--light-black-color);
}

.comment-buttons {
  align-self: flex-start;
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.comment-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment-title {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 15px;
}

#comment {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#write-comment {
  flex-direction: column;
}

.edit-comment {
  width: 100%;
}

.edit-button-container {
  justify-self: flex-end;
}