#login-container {
    width: 800px;
    display: flex;
    flex-direction: column;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buttons-container {
    display: flex;
    gap: 20px;
    align-self: center;
}

form {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.linear-layout-1 {
    display: flex;
    justify-content: space-between;
}

.linear-layout-2 {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
}