.route {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.route h1 {
  font-size: 6rem;
  margin: 30px 0 0 0;
}

.route p {
  font-size: 1.5rem;
}