.field-container {
    margin-bottom: 15px;
}

.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#input-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: initial;
}

#dropdown-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: initial;
    cursor: pointer;
}

.title-flag-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

#dropdown-icon-activated {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

#dropdown-icon-deactivated {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
}


.dropdown-list {
    position: absolute;
    max-height: 200px;
    min-width: 300px;
    z-index: 9999;
    transform-origin: top;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 13pt;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 5px 0;
    border-radius: 10px;
    opacity: 0;
    transform: scaleY(0);
    transition: 0.3s ease-in-out;
}

.dropdown-list.light {
    background-color: var(--white-color);
    color: var(--black-color);
}

.dropdown-list.dark {
    background-color: var(--black-color);
    color: var(--white-color);
}

#dropdown-list-deactivated {
    opacity: 0;
    transform: scaleY(0);
    transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

#dropdown-list-activated {
    opacity: 1;
    transform: scaleY(1);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown-item {
    padding: 5px 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease, scale 0.2s ease;
}

.dropdown-item.light {
    background: var(--white-color);
    color: var(--black-color);
}

.dropdown-item.dark {
    background: var(--black-color);
    color: var(--white-color);
}

.dropdown-item:hover {
    font-weight: 700;
    scale: 105%;
    transform: translateX(2.2%);
    z-index: 9000;
}

.dropdown-item.light:hover {
    background: var(--primary-color-light);
}

.dropdown-item.dark:hover {
    background: var(--primary-color-dark);
}

.flag-icon {
    width: 23pt;
    height: 12pt;
    border-radius: 10px;
    user-select: none;
}

.input-items-list {
    width: 500px;
    margin: 12px 0 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-around;
    gap: 5px;
}

#input-item {
    display: flex;
    gap: 5px;
    align-items: center;
}


form {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.input-empty {
    background: none;
    border: none;
    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
}

.input-empty.light {
    color: var(--black-color);
}

.input-empty.dark {
    color: var(--white-color);
}

.input-empty:focus {
    outline: none;
}

.birthday-dropdowns {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}