/* BUTTONS CSS */
.generic-button {
    /* color property */
    background-color: var(--primary-color-light);
    color: var(--white-color);
    border: none;
    cursor: pointer;

    /* color property */

    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    padding: 9px 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    gap: 5px;


    /* transition property */
    border-top-left-radius: 20px 30px;
    border-top-right-radius: 30px 20px;
    border-bottom-right-radius: 20px 30px;
    border-bottom-left-radius: 30px 20px;
    scale: 100%;

    transition-property: border-radius, scale;
    transition: 0.3s ease-in-out;
}

#subscribe-button {
    width: 120px;
    color: var(--white-color);
}

.generic-button:hover {
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 20px 30px;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 20px 30px;
    scale: 105%;
}

.generic-button.light {
    background-color: var(--primary-color-light);
}

.generic-button.dark {
    background-color: var(--primary-color-dark);
}

/* BUTTONS CSS */
.light-button {
    /* color property */
    background-color: var(--primary-color-light);
    color: var(--white-color);
    border: none;
    cursor: pointer;

    /* color property */

    font-family: "Rubik", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;

    padding: 9px 20px;
    display: flex;
    align-items: center;
    justify-content: center;


    /* transition property */
    border-top-left-radius: 20px 30px;
    border-top-right-radius: 30px 20px;
    border-bottom-right-radius: 20px 30px;
    border-bottom-left-radius: 30px 20px;
    scale: 100%;

    transition: 0.3s ease-in-out;
}

.light-button:hover {
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 20px 30px;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 20px 30px;
    scale: 105%;
}

.light-button.light {
    background-color: transparent;
    color: var(--primary-color-light);
    box-shadow: inset 0 0 0 3px var(--primary-color-light);
}

.light-button.dark {
    background-color: transparent;
    color: var(--primary-color-dark);
    box-shadow: inset 0 0 0 3px var(--primary-color-dark);
}

.button-text {
    margin: 0px 5px;
}

.button-icon {
    height: 14px;
    scale: 150%;
    transition: 0.5s;
}

.button-icon:hover {
    scale: 160%;
}