/* BUTTONS CSS */
.light-dark-button {
    border: none;
    cursor: pointer;

    padding: 5px 10px;

    display: flex;
    gap: 5px;


    /* transition property */
    border-top-left-radius: 20px 30px;
    border-top-right-radius: 30px 20px;
    border-bottom-right-radius: 20px 30px;
    border-bottom-left-radius: 30px 20px;
    scale: 100%;

    transition-property: border-radius, scale;
    transition: 0.3s ease-in-out;
}

.light-dark-button:hover {
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 20px 30px;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 20px 30px;
    scale: 105%;
}

.light-dark-button.light {
    background-color: var(--black-color);
}

.light-dark-button.dark {
    background-color: var(--white-color);
}

.light-dark-icon {
    width: 25px;
}

.light-dark-icon.dark {
    filter: brightness(-100%);
}