/* Home.css and VideoList.css */

/* Container for the video section */
.watch-home-video-section,
.watch-user-profile-video-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  gap: 25px;
  width: 100%;
}

/* Card for each video */
.home-video-card,
.user-profile-video-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 8px;
  width: 23%;
  max-width: 550px;
  text-align: center;
  transition: 0.4s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

/* Light and dark theme styles */
.home-video-card.light,
.user-profile-video-card.light {
  background-color: var(--white-color);
}

.home-video-card.dark,
.user-profile-video-card.dark {
  background-color: var(--black-color);
}

.home-video-card.light:hover,
.user-profile-video-card.light:hover {
  background-color: var(--dark-white-color);
}

.home-video-card.dark:hover,
.user-profile-video-card.dark:hover {
  background-color: var(--light-black-color);
}

.home-video-card:hover,
.user-profile-video-card:hover {
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 20px 30px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 20px 30px;
}



.home-video-details,
.user-profile-video-details {
  padding: 10px;
  display: flex;
  align-items: start;
  text-align: start;
  gap: 10px;
}

.sorting-filtering-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.video-list-edit-icon {
  position: absolute;
}

.thumbnail-link,
.title-link,
.author-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  /* Make it clear the author name is clickable */
}

.thumbnail-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  /* 16:9 Aspect Ratio */
  overflow: hidden;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  background-color: var(--tertiary-color-dark);
  transition: 0.3s ease-in-out;
}