.thumbnail-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  transition: 0.3s ease-in-out;
}

.thumbnail-container.light {
  background-color: var(--dark-white-color);
}

.thumbnail-container.dark {
  background-color: var(--light-black-color);
}

.thumbnail-container:hover {
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 20px 30px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 20px 30px;
}

.video-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}