.user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 100%;
  max-width: 1717px;
}

.profile-videos {
  width: inherit;
}

.profile-details {
  width: 500px;
}