.user-profile {
  display: flex;
  justify-content: center;
  height: 100%;

  width: 100%;
}

.profile-videos {
  width: inherit;
  width: 80%;
}

.profile-details {
  width: 500px;
}

#container-style {
  height: 1080px;
  position: fixed;
}

#profile-style {
  width: 300px;
  height: 300px;

  border-top-left-radius: 200px 300px;
  border-top-right-radius: 300px 200px;
  border-bottom-right-radius: 200px 300px;
  border-bottom-left-radius: 300px 200px;
  scale: 100%;

  transition-property: border-radius, scale;
  transition: 0.5s ease-in-out;


}

#profile-style:hover {
  border-top-left-radius: 300px 200px;
  border-top-right-radius: 200px 300px;
  border-bottom-right-radius: 300px 200px;
  border-bottom-left-radius: 200px 300px;
  scale: 102%;
}

.button-container {
  margin-top: 15px;
  align-self: center;
}

.videoProfileContainer {
  padding: 0px 29px;
}