:root {
  --white-color: #fffaf0;
  --black-color: #101010;
  --dark-white-color: #f8f3eb;
  --light-black-color: #1e1d1a;

  /* Light Theme Colors */
  --primary-color-light: #e69138;
  /* Orange */
  --secondary-color-light: #c73e3e;
  /* Red */
  --tertiary-color-light: #357997;
  /* Blue */
  --quaternary-color-light: #4f8b52;
  /* Green */

  /* Dark Theme Colors */
  --primary-color-dark: #e69138;
  /* Orange */
  --secondary-color-dark: #c73e3e;
  /* Red */
  --tertiary-color-dark: #357997;
  /* Blue */
  --quaternary-color-dark: #4f8b52;
  /* Green */
}

/* BODY CSS */
body {
  background-color: var(--white-color);
  font-family: "Rubik", sans-serif;
  margin: 0px;
  transition: background-color 0.1s ease-in-out;
}

body.light {
  background-color: var(--white-color);
  color: var(--black-color);
}

body.dark {
  background-color: var(--black-color);
  color: var(--white-color);
}

/* Style the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(118, 117, 115, 0.1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(118, 117, 115, 0.2);
}

/* Hide scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

a {
  text-decoration: none;
  font-weight: 700;
}

a.light {
  color: var(--black-color);
}

a.dark {
  color: var(--white-color);
}