.toggle {
    border: none;
    cursor: pointer;

    width: 13pt;
    height: 10pt;
    padding: 3pt;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;


    /* transition property */
    border-top-left-radius: 20px 30px;
    border-top-right-radius: 30px 20px;
    border-bottom-right-radius: 20px 30px;
    border-bottom-left-radius: 30px 20px;
    scale: 100%;

    transition-property: border-radius, scale;
    transition: 0.1s ease-in-out;
}

.toggle:hover {
    border-top-left-radius: 30px 20px;
    border-top-right-radius: 20px 30px;
    border-bottom-right-radius: 30px 20px;
    border-bottom-left-radius: 20px 30px;
    scale: 105%;
}

.toggle.on.light {
    background-color: var(--primary-color-light);
}

.toggle.on.dark {
    background-color: var(--primary-color-dark);
}

.toggle.off.light {
    background-color: var(--white-color);
}

.toggle.off.dark {
    background-color: var(--black-color);
}