.watch-suggested-video-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 25%;
}

.suggested-video-card {
  display: flex;
  gap: 10px;
  border-radius: 8px;
  padding: 10px;
  width: 400px;
  text-align: center;

  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  transition: 0.3s ease-in-out;
}

.suggested-video-card.light {
  background-color: var(--dark-white-color);
}

.suggested-video-card.dark {
  background-color: var(--light-black-color);
}

.suggested-video-card:hover {
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 20px 30px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 20px 30px;
}

.suggested-video-card.light:hover {
  background-color: var(--white-color);
}

.suggested-video-card.dark:hover {
  background-color: var(--black-color);
}

.suggested-video-thumbnail {
  width: 200px;
  height: 112.5px;
  object-fit: cover;

  border-top-left-radius: 20px 30px;
  border-top-right-radius: 30px 20px;
  border-bottom-right-radius: 20px 30px;
  border-bottom-left-radius: 30px 20px;
  transition: 0.3s ease-in-out;

  background-color: var(--tertiary-color-dark);
}

.suggested-video-thumbnail:hover {
  border-top-left-radius: 30px 20px;
  border-top-right-radius: 20px 30px;
  border-bottom-right-radius: 30px 20px;
  border-bottom-left-radius: 20px 30px;
}

.suggested-video-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: start;
  gap: 0px;


}