.LabeledTextInputContainer {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* Adjust space between items */
  align-items: center;
  /* Align items vertically center */
}

.label-input {
  color: var(--Black, #101010);

  /* Bold text */
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-input {
  width: 535px;
  height: 24px;
  flex-shrink: 0;
  border-radius: 20px 30px;
  background: var(--White, #f8f3eb);
}